<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <p>
      Recognition of handwriten graphemes of Bengali language
    </p>
    <h3>Upload photo of handwriten grapheme</h3>
    <el-upload
        class="avatar-uploader"
        ref="upload"
        action="https://jsonplaceholder.typicode.com/posts/"
        :show-file-list="false"
        :auto-upload="false"
        :drag="true"
        :on-success="handleAvatarSuccess"
        :on-change="beforeAvatarUpload">
        <img :key="key" v-if="imageUrl" :src="imageUrl" class="avatar">
        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
    </el-upload>

    <el-button @click.prevent="upload" type="primary" :loading="loading">Upload</el-button>

    <div v-if="result" class="result-block">
      <h3>Results</h3>
      <el-table
        border
        :data="resultTable"
        style="width: 400px">
        <el-table-column
          prop="vowel"
          label="Vowel">
        </el-table-column>
        <el-table-column
          prop="root"
          label="Root">
        </el-table-column>
        <el-table-column
          prop="consonant"
          label="Consonant">
        </el-table-column>
        <el-table-column
          prop="font"
          label="Font">
        </el-table-column>
      </el-table>
    </div>
    
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'HelloWorld',
  props: {
    msg: String
  },
  data() {
      return {
        imageUrl: '',
        rawFile: '',
        key: 0,
        loading: false,
        result: true,
        resultTable: [{
          vowel: 1,
          root: 0,
          consonant: 0,
          font: 'ক্ট্রো'
        }]
      };
    },
    methods: {
      async upload(){
        this.loading = true;
        console.log('sending', this.rawFile)
        let formData = new FormData();
        formData.append('image', this.rawFile);
        await axios.post('http://3.14.64.132:5000/predict', formData, {headers: {'Content-type': 'multipart/form-data'}})
                .then((resp)=>{
                  this.$message.success("Image successfully recognized")
                  console.log(resp)
                  const result = resp.data
                  this.resultTable = [{
                    vowel: result.vowel,
                    root: result.root,
                    consonant: result.consonant
                  }]
                  this.result = true
                })
                .catch((error) => {
                  this.$message.error("Error:" + error)
                })
                .finally(() => this.loading = false)

      },
      handleAvatarSuccess(res, file) {
        this.imageUrl = URL.createObjectURL(file.raw);
      },
      beforeAvatarUpload(file) {
        const isJPG = file.type === 'image/jpeg';
        const isLt2M = file.size / 1024 / 1024 < 2;
        console.log(file, this.$refs.upload)
        let rawFile = this.$refs.upload.uploadFiles[this.$refs.upload.uploadFiles.length - 1].raw
        this.imageUrl = URL.createObjectURL(this.$refs.upload.uploadFiles[this.$refs.upload.uploadFiles.length - 1].raw)
        // this.imageUrl = this.$refs.upload.uploadFiles[this.$refs.upload.uploadFiles.length - 1].raw
        this.key +=1

        var reader = new FileReader();
        var fileByteArray = [];
        reader.readAsArrayBuffer(rawFile);
        reader.onloadend = function (evt) {
            if (evt.target.readyState == FileReader.DONE) {
              var arrayBuffer = evt.target.result,
                  array = new Uint8Array(arrayBuffer);
              for (var i = 0; i < array.length; i++) {
                  fileByteArray.push(array[i]);
                }
            }
        }
        this.rawFile = rawFile //fileByteArray

        // if (!isJPG) {
        //   this.$message.error('Avatar picture must be JPG format!');
        // }
        // if (!isLt2M) {
        //   this.$message.error('Avatar picture size can not exceed 2MB!');
        // }
        return true || isJPG && isLt2M;
      }
    }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style>
h3 {
  margin: 40px 0 30px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.avatar-uploader{
  margin-bottom: 30px;
}

.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .el-upload-dragger{
    width: 180px;
  }
  .result-block{
    /* width: 400px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .cell{
    text-align: center;
  }
</style>
