<template>
  <div id="app">
    <img src="./assets/bengalilogo.jpeg" class="logo">
    <Main msg="Welcome to BengaliAI Demo App"/>
  </div>
</template>

<script>
import Main from './components/Main.vue'

export default {
  name: 'app',
  components: {
    Main
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
@media (min-width: 320px) and (max-width: 480px) {
  .logo{
    width: 100%;
  }  
}

</style>
